.service{
    padding: 40px;
}

.service-title{
    font-size: 40px;
    color: #ffffff;
    text-align: center;
}

.proyect-cont{
    margin-top: 20px;
}

.proyect-conteiner{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    color: #ffffff;
}

.text-service{
    margin: auto;
    padding: 25px;
}

.title-proyect{
    text-align: center;
}

.description-proyect{
    text-align: center;
}

.img-service{
    display: flex;
}

.img-service img{
    width: 300px;
    height: auto;
}

@media (max-width: 950px){
    .service-title{
        font-size: 30px;
    }

    .title-proyect{
        font-size: 20px;
    }

    .description-proyect{
        font-size: 16px;
    }

    .img-service{
        display: none;
    }
}