.team{
    padding: 40px;
    background: yellow;
}

.text-4{
    padding-bottom: 20px;
    text-align: center;
    line-height: 20px;
    background: tomato;
}

.text-5{
    padding-top: 10px;
    font-size: 30px;
    line-height: 30px;
    color: #1b4b51;
}

.text-6{
    padding-top: 30px;
    font-size: 25px;
    line-height: 20px;
}

.text-6 a{
    color: #638228;
}

.members{
    background: tan;
    padding: 30px 50px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    text-align: center;
}

.member{
    background: springgreen;
    padding: 10px 25px;
}

.img-member img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid salmon;
    border-radius: 50%;
    display: block;
    margin: auto;
}

.text-7{
    margin-top: -88px;
    padding: 90px 20px 10px;
    background: skyblue;
}

.linkedin-mem{
    margin-top: 5px;
    font-size: 20px;
    color: #000000;
}

.information-mem{
    font-size: 15px;
    line-height: 18px;
}

.img-linkedin{
    text-decoration: none;
    width: 20px;
    height: 20px;
    margin: auto;
    margin-top: 20px;
}

@media (min-width: 950px){
    .text-4{
        line-height: 35px;
    }

    .text-5{
        font-size: 50px;
    }

    .text-6{
        font-size: 30px;
    }

    .members{
        padding: 30px 70px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 70px;
    }
}