.start{
    display: flex;
    flex-direction: column;
    height: 100%;
    background: grey;
    color: white;
    padding: 40px;
}

.reception{
    background: steelblue;
    text-align: center;
}

.img-1 img{
    width: 300px;
    height: auto;
}

.text-1{
    padding-top: 40px;
    letter-spacing: 5px;
    font-size: 30px;
    font-weight: 900;
    font-weight: bold;
}

.content-1{
    background: chocolate;
    padding-top: 40px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 300;
}