*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

section[id]{
    scroll-margin-top: 80px;
}

body{
    font-family: 'Open Sans', sans-serif;
    padding-top: 80px;
}

a{
    color: #fff;
    text-decoration: none;
}

a:link{
    color: #fff;
}

.disclaimer{
    display: none;
}