.media-information{
    padding: 40px;
    color: #ffffff;
}

.text-11{
    font-size: 40px;
    text-align: center;
}

.media{
    padding: 20px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.newspaper{
    margin: auto;
}

.title-newspaper{
    margin-bottom: 20px;
    text-align: center;
}

.portada-newspaper{
    margin-top: 10px;
    text-align: center;
}

.portada-newspaper img{
    width: 300px;
    height: auto;
}

.videos{
    margin: auto;
}

.title-videos{
    text-align: center;
}

.video-information{
    margin-top: 20px;
    text-align: center;
}

.video-information video{
    width: 400px;
    height: auto;
}

@media (max-width: 950px){
    .media{
        margin-top: 30px;
        grid-template-columns: none;
        grid-template-rows: repeat(2, 1fr);
    }

    .portada-newspaper img{
        width: 260px;
    }

    .video-information video{
        width: 270px;
    }
}